@charset "utf-8";

* { box-sizing: border-box; }

:root {
    --healthBackground: #c60d0d;
    --healthColor: yellow; 
    --healthBarHeight: 45px;
    --healthBorder: 2px;
    --borderC: #f1f1f1;
}

#mainZone { position: relative; display: inline-block; }

#mainZone > #panelsBox { 
    position: absolute; 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#playerBar, #foeBar {
    background-color: var(--healthColor);
    height: calc(var(--healthBarHeight) - var(--healthBorder) * 2);
}

#playerZone { 
    background-color: var(--healthBackground);
    position: relative; 
    height: var(--healthBarHeight);
    width: 100%;
    border: var(--healthBorder) solid var(--borderC);
}

#playerBar {
    right: -1px;
    position: absolute;
    width: 90%;
}

#foeZone { 
    background-color: var(--healthBackground);
    position: relative; 
    height: var(--healthBarHeight);
    width: 100%;
    border: var(--healthBorder) solid var(--borderC);
}

#foeBar {
    left: -1px;
    position: absolute;
    width: 65%;
}

#timer {
    background-color: #afaf30;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}