@charset "utf-8";

* { box-sizing: border-box; }

:root {
    --healthBackground: #c60d0d;
    --healthColor: yellow; 
    --healthBarHeight: 45px;
    --healthBorder: 3px;
    --borderC: #f1f1f1;
}

#mainZone { position: relative; display: inline-block; }

#mainZone > #panelsBox { 
    position: absolute; 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#playerBar, #foeBar {
    background-color: var(--healthColor);
    height: calc(var(--healthBarHeight) - var(--healthBorder) * 2);
}

#playerZone { 
    right: -2px;
    background-color: var(--healthBackground);
    position: relative; 
    height: var(--healthBarHeight);
    width: 100%;
    border: var(--healthBorder) solid var(--borderC);
}

#playerBar {
    right: -1px;
    position: absolute;
}

#foeZone { 
    right: 2px;
    background-color: var(--healthBackground);
    position: relative; 
    height: var(--healthBarHeight);
    width: 100%;
    border: var(--healthBorder) solid var(--borderC);
}

#foeBar {
    left: -1px;
    position: absolute;
}

#timer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3043af;
    height: 75px;
    width: 150px;
    color: #fff;
    font-size: 1.28rem;
    font-family: monospace;
    border: 4px solid var(--borderC);
    font-weight: bold;
}

#tieWarning {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    padding: 5px 15px;
    font-family: monospace;
    color: #fff;
    font-size: 28px;
    width: fit-content;
}